.overlap {
  margin-bottom: 2rem;

  &__heading {
    height: 6.4rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 7rem;
    font-size: 2.5rem;
    line-height: 2.8rem;
    clip-path: polygon(0 0,calc(100% - 6.4rem) 0, 100% 100%, 0 100%);
 
  
    color: rgb(var(--color-white));
    background: linear-gradient(to right,rgb(var(--color-overlay-heading-gradient-start)),rgb(var(--color-overlay-heading-gradient-end)));
    text-transform: uppercase;

    @media screen and (max-width: 330px) {
      font-size: 2.3rem;
    }

    @include res(wide) {
      padding-right: 8.2rem;
      font-size: 3rem;
      line-height: 3.7rem;
    }
  }

  .wp-block-group__inner-container {
    display: flex;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(var(--color-red));
    }
  }
}

.companys-members {
  @media (min-width: 782px) and (max-width: 980px) {

    .wp-block-column:not(:only-child) {
      flex-basis: calc(50% - 1em)!important;
      flex-grow: 0;
    }
  }
}

.wp-cumulus-carousel {

  &__img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}

.front-page-gallery {
  @include res(desktop) {
    
    .slick-slide {
      position: relative;
  
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      &::after {
        z-index: 2;
      }

      &:before {
        z-index: 1;
      }
    }

    .slick-current {

      &::after {
        background: linear-gradient(to right, rgba(var(--color-black),0.7),rgba(var(--color-black),0));
      }

      &::before {
        background-color: rgb(var(--color-navy-blue));
        mix-blend-mode: lighten;
      }
    }

    .slick-current + .slick-active + .slick-active {

      &::after {
        background: linear-gradient(to right, rgba(var(--color-black),0.7),rgba(var(--color-black),0));
        transform: rotateZ(180deg);
      }

      &::before {
        background-color: rgb(var(--color-navy-blue));
        mix-blend-mode: lighten;
      }
    }
  }

  .wp-block-image {
    position: relative;
    height: 283px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}

.slick-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  border: 2px solid rgba(var(--color-white),1);
  transition: border 0.3s;

  @include res(desktop_medium) {
    border: 2px solid rgba(var(--color-white),0);
  }

  &:hover {
    border: 2px solid rgba(var(--color-white),1);
  }
}

.slick-initialized {

  .slick-prev,
  .slick-next {
  
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: relative;
      border-top: 2px solid rgb(var(--color-white));
      border-right: 2px solid rgb(var(--color-white));
  
      @include res(desktop_medium) {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
      }
    }
  }

  .slick-prev {
    left: 17px;
  
    &:before {
      left: 2px;
      transform: rotateZ(-135deg);
    }
  }
  
  .slick-next {
    right: 17px;
  
    &:before {
      right: 2px;
      transform: rotateZ(45deg);
    }
  }

  &:hover {

    .slick-prev {

      &:before {
        border-top: 2px solid rgb(var(--color-white));
        border-right: 2px solid rgb(var(--color-white));
      }
    }
    
    .slick-next {
    
      &:before {
        border-top: 2px solid rgb(var(--color-white));
        border-right: 2px solid rgb(var(--color-white));
      }
    }
  }
}

.generate-back-to-top {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(var(--color-white));
  background-color: rgb(var(--color-red));
  transition: opacity 300ms ease-in-out;

  &:before {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 0.2rem;
    border-top: 3px solid rgb(var(--color-white));
    border-right: 3px solid rgb(var(--color-white));
    transform: rotateZ(-45deg);
  }
}

/*
* Modifikation display-post block
*/

.wp-block-cs-gutenberg-blocks-display-posts {
 
  &__item {
    min-height: 340px;
  }

  &__heading {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 800;

    @include res(tab) {
      line-height: 3.2rem;
      font-size: 2.6rem;
    }

    @include res(desktop_medium) {
      line-height: 3rem;
      font-size: 2.3rem;
    }

    @include res(wide) {
      margin-top: 1.2rem;
    }
  }

  &__date {
    margin-top: 2.6rem;

    @include res(desktop) {
      margin-top: 4rem;
    }
    

    svg {
      margin-right: 0.5em;
    }
  }

  &__content {
    position: relative;
    padding: 3.3rem 2rem;

    @include res(tab) {
      padding: 3.3rem 3.9rem;
    }
  }
  
  &__categorys-name {

    .wp-block-cs-gutenberg-blocks-display-posts__content & {
      line-height: 2.2rem;  
    }

    span {
      padding: 0 6px;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 2px;
      background-color: rgb(var(--color-red));
      text-align: center;
      white-space: nowrap;
      margin-right: 6px;
      display: inline-block;
      color: rgb(var(--color-white));
      line-height: 2.2rem;

      &:nth-child(n + 3) {
        margin-top: 6px;
      }
      /* stylelint-disable */
      @include res(desktop) {

        &:nth-child(n + 3) {
          margin-top: unset;
        }
      }
      /* stylelint-enable */
    }
  }

  .wp-block-cs-gutenberg-blocks-display-posts__categorys-name {
    margin-bottom: unset;
  }

  &--grid {
    @include res(desktop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .wp-block-cs-gutenberg-blocks-display-posts {

      &__heading {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 700;
      }

      &__item {
        min-height: 80px;
        height: unset;
        width: 100%;

        @include res(desktop) {
          margin-bottom: unset;
        }
      }

      &__content {
        height: unset;
        justify-content: unset;
      }

      &__categorys-name {
        grid-template-columns: minmax(0, 65%);
        color: rgb(var(--color-white));

        @include res(phone_medium) {
          grid-template-columns: repeat(3,30%);
        }
       
        span {
          width: auto;
          display: inline-block;
        }
      }
    }
  }

  &--column {
    @media screen and (max-width: 568px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    .wp-block-cs-gutenberg-blocks-display-posts {

      &__item {
        min-height: 245px;
      }

      &__content {
        padding-top: unset;
      }
    }
  }
}

/*
* Override style gallery lightbox
*/

.wp-block {

  &-gallery:not(.is-cropped) {
   
    .blocks-gallery-grid {
      width: 100%;
      display: grid;
      flex-wrap: nowrap;
      gap: 1.5rem;
      margin-left: unset;
    }

    $sizes: (1, 2, 3, 4, 5, 6, 7, 8);
    /* stylelint-disable */
    @each $i in $sizes {
       &.columns-#{$i} {
         .blocks-gallery-grid {
           grid-template-columns: repeat(#{$i},1fr);
            @if $i < 9 {
              @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(4,1fr);
              }

              @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2,1fr);
              }
            }

            @if $i < 6 {
              @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(3,1fr);
              }

              @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2,1fr);
              }
            }

            @if $i < 4 {
              @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2,1fr);
              }
            }
         }
       }
    }
    /* stylelint-enable */
    .blocks-gallery-item {
      margin-bottom: unset;
      margin-right: unset;
      width: unset;
      position: relative;
      padding-top: 55.7%;

      figure {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }

      a {
        width: 100%;
        height: 100%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.pswp__button--arrow {

  &--right,
  &--left {
    display: flex;
    align-items: center;

    &:before {

      .pswp & {
        background-image: unset;
        background-color: transparent;
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        position: relative;
        top: 0;
        border-top: 2px solid rgb(var(--color-white));
        border-right: 2px solid rgb(var(--color-white));
      }
    }
  }

  &--right {
    justify-content: flex-start;

    &:before {
      transform: rotateZ(45deg);
      right: unset;
    }
  }

  &--left {
    justify-content: flex-end;

    &:before {
      transform: rotateZ(-135deg);
      left: unset;
    }
  }
}

.gradient {

  &__black,
  &__dark-blue {
    
    .wp-block-cs-gutenberg-blocks-display-posts__item {

      figure {

        &::before,
        &::after {
          opacity: 1;
          transition: 0.3s;
        }
      }
      
      &:hover {
        
        /* stylelint-disable */
        figure {
          transition: 0.3s;

          &::before,
          &::after {
            opacity: 0.5;
            transition: 0.3s;
          }
        }
        /* stylelint-enable */
      }
    }

    figure {
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        mix-blend-mode: multiply;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: color;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  &__black {

    figure {

      &::before {
        background: linear-gradient(#00000000, #000000f1);
      }
    }
  }
  
  &__dark-blue {

    figure {

      &::before {
        background: linear-gradient(#00000000, #000000f1);
      }

      &::after {
        background: linear-gradient(#122845, #122845);
      }
    }
  }
}

.columns-breakpoint-1024 {
  @media screen and (max-width: 1024px) {

    &.wp-block-columns {
      display: block;
    }
  }
}

.single-post {

  article {
    
    p,
    li {
      text-align: justify;
    }
  }
}