.top-bar {
  // background-color: rgba(var(--color-red), 0.7);
  background-color: #fff;
  color: rgb(var(--color-black));
  position: relative;
  z-index: 2;

  @include res(phone_medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 1.8rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 14px;
  }

  &__wrapper {
    width: var(--main-max-width);
    max-width: 100%;
    margin: 0 auto;

    @include res(phone_medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__social-media {
    background-color: rgb(var(--color-navy-blue));
    display: flex;
    // margin: 0 var(--main-margin);

    ul {
      list-style-type: none;

      &.flex-column {
        display: flex;
        flex-direction: row !important;
      }

      li {
        display: inline-block;
      }
    }

    .fab {
      color: rgb(var(--color-white));
      transition: color 0.3s;
    }

    .nav-link {
      height: 5rem;
      width: 6.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;

      @include res(desktop_medium) {

        &:hover {
          /* stylelint-disable */
          .fab {
            color: rgb(var(--color-red));
          }
          /* stylelint-enable */
        }
      }
    }
  }
}

.container-header {
  position: relative;
  z-index: 10;
  background-color: rgba(var(--color-navy-blue), 0.9);
  display: flex;
  justify-content: center;
  transition: background-color 0.3;

  @include res(phone_medium) {
    padding: 0 var(--main-margin);
  }

  @include res(desktop) {
    background-color: rgba(var(--color-navy-blue), 0.8);
  }

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--color-navy-blue), 0.9);
  }
}

.search-form-cumulus {
  margin-left: auto;
  margin-right: var(--main-margin);
  height: 7rem;

  @include res(phone_medium) {
    margin-right: unset;
  }

  @include res(desktop_medium) {
    margin-left: 40px;
  }

  &__button {
    display: flex !important;
    align-items: center;
    display: inline-block;
    height: 100%;
  }

  &__content {
    display: none;
    justify-content: flex-end;
    z-index: 4;

    // >*:last-child {
    //   margin-right: var(--main-margin);

    //   @media screen and (min-width: 2040px) {
    //     margin-right: calc((100vw - 1920px)/2);
    //   }
    // }
  }

  &__input {
    height: 3rem;
    font-size: 1.8rem;
    width: calc(100% - 6rem);
    max-width: 87rem;
    flex-grow: 1;
    background-color: transparent;
    cursor: pointer;
    border: unset;
    border-color: unset;
    border-bottom: 1px solid rgb(var(--color-red));
    margin-right: 1rem;
    color: rgb(var(--color-white));

    @include res(phone_medium) {
      width: 50rem;
      max-width: 46%;
    }

    @include res(tab) {
      margin-left: unset;
    }

    &:focus {
      border: unset;
      border-color: unset;
      box-shadow: unset;
      outline: unset;
      border-bottom: 1px solid rgb(var(--color-red));
    }
  }

  .close-svg {
    display: none;
  }

  .close-svg,
  .search-svg {
    cursor: pointer;
  }

  &--active {
    display: flex;
    align-items: center;

    .search-form-cumulus {

      &__content {
        position: absolute;
        top: 7rem;
        right: 0;
        left: 0;
        min-height: 15.3rem;
        display: block;
        // grid-template-columns: 1fr 70px;
        background-color: rgb(var(--color-navy-blue));

        @include res(tab) {
          // display: flex;
          // align-items: center;
          display: block;
        }
      }

      &__wrapper {
        max-width: var(--main-container-width);
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 5rem;

        @include res(phone_medium) {
          text-align: right;
        }

        @include res(wide) {
          max-width: var(--main-max-width);
        }
      }

      &__button {

        .search-svg {
          display: none;
        }

        .close-svg {
          display: block;
        }
      }
    }
  }

  label {
    color: rgb(var(--color-red));
    // margin-right: 2rem;
    // margin-left: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    grid-column: 1/3;
    align-self: flex-end;

    @include res(tab) {
      grid-column: unset;
      align-self: unset;
    }
  }
}

.header-bg-image {
  // background-image: url("../images/header-bg.jpg");
  background: rgb(0,27,36);
  background: linear-gradient(29deg, #122845 0%, #010d30 32%, #06143c 32%, #000719 60%, #000000 70%, #050a17 70%, #122845 100%);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  min-height: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar-brand {
  margin: auto 50px;

  img {
    width: 27.7rem;
  }

  &.container-tlp {
    margin: auto auto;
    padding-top: 8.5rem;

    @include res(tab) {
      padding-top: 2.5rem;
    }
  }

  a {
    z-index: 2;
    position: relative;
  }
}

/*
* Class for isSpaceInNavbarBar tools(js)
*/
.flex-basic-siblings {

  &.navbar-collapse {

    &+ * {
      margin-left: auto !important;
    }

    &~.search-form-cumulus {

      &--active {

        .search-form-cumulus__content {
          /* stylelint-disable */
          @include res(desktop_medium) {
            top: 14rem;
          }
          /* stylelint-enable */
        }
      }
    }
  }
}

.members-zone.flex-basic-siblings {
  margin-left: unset !important;
}

.members-zone.flex-basic-siblings + * {
  margin-left: auto !important;
}

// particles
.site-header {
  position: relative;
  margin-top: -10rem;

  @include res(tab) {
    margin-top: -5rem;
  }
}

.custom-particles-js {
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  width: 110vw;
  height: 140%;
}